name: CI

on:
  workflow_dispatch:
  push:
    branches: [ main ]
    tags:
      - '*.*.*'
      - '*.*.*-*.*'
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    env:
      PACK_NAME: ""
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Pack
        run: |
          if [ ! $PACK_NAME ]; then
              PACK_NAME=${GITHUB_REPOSITORY##*/} 
          fi
          echo "PACK_NAME=$PACK_NAME" >> $GITHUB_ENV
          cd $PACK_NAME
          zip -r ../$PACK_NAME.opk ./
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Artifacts
          path: ${{ env.PACK_NAME }}.opk
      - name: Draft Release
        if: github.ref_type == 'tag'
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref_name }}
          draft: true
          allowUpdates: true
          removeArtifacts: true
          artifacts: |
            ./${{ env.PACK_NAME }}.opk

  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v6
      with:
        python-version: 3.14
        architecture: x64
        freethreaded: true
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install flake8
    - name: Run Flake8 Check
      run: |
        flake8 . --tee flake8_output.log
    - name: Upload Flake8 Output
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: flake8_output
        path: ./flake8_output.log
